<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" /> 
    <title>Ecomm Login Page</title>
</head>
<body>
    <h3 class='text-primary'>Please Login or Register to Proceed</h3>
    <div class="container">
        <h3>Register a New Account</h3>
        <br>
        <form action="/register" method="POST">
            {% csrf_token %}
            <label for="fname">First Name:</label>
            <input type="text" name="first_name" id="fname"><br>
            <label for="lname">Last Name:</label>
            <input type="text" name="last_name" id="lname"><br>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email"><br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password"><br>
            <label for="confirm_pass">Confirm Password:</label>
            <input type="password" name="confirm_pass" id="confim_pass"><br>
            <input type="submit" value="Register!">
        </form>
        <br>
    </div>
    <div class="container">
        <h3>Login</h3>
        <br>
        <form action="/login" method="POST">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" name="email" id="email"><br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password"><br>
            <input type="submit" value="Login">
        </form>
        <br>
    </div>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>